.btn{
    border-color: #1447e6;
    color: #1447e6;
    margin: 16px;
    padding: 6px 24px;
    border-radius: 10%;
    border: 2px solid;
    background-color: white;
}
ol.order-list {
  counter-reset: orderedlist;
  display: flex;
  align-items: start;
  width: 100%;
}

ol.order-list li::before {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  background-color: #6488f3;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  margin: 5px;
  margin-right: 12px;
  width: 25px;
  height: 25px;
  font-size: medium;
  display: flex;
  justify-content: center;
  align-items: center;
}