@import "tailwindcss";


::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}


@keyframes bounce-height {
  0%, 100% {
    height: 16px;
  }
  50% {
    height: 40px;
  }
}

.animate-bouncing-bars {
  animation: bounce-height 1.2s infinite ease-in-out;
}